<script>
$(window).load(function()
		{
			$( "#postform" ).submit(function( event ) {
				  console.log( "Form Submitted ..." );
				  $( "#postform" ).hide();
				  $( "#postform" ).before("<h2>Your Post has been submitted.  Your page will reload when complete</h2>");
				});
			
			$( "#qr_postform" ).submit(function( event ) {
				  console.log( "QR Form Submitted ..." );
				  $( "#qr_postform" ).hide();
				  $( "#qr_postform" ).before("<h2>Your Post has been submitted.  Your page will reload when complete</h2>");
				});
		});
</script>